body {
    font-size: 150%;
    margin-inline: 2%;
    color:rgb(255, 255, 255);
    background-color: rgb(0, 44, 82);
}
a {
    color:rgb(255, 167, 167);
}
.bloquedef__texto-resaltado {
    color: rgb(254, 248, 161);
}
.bloquedef--bold {
    font-weight: bold;
}

.bloquedef__title {
    text-decoration: underline;
    font-weight: 600;
}