body {
    font-size: 130%;
    margin-inline: 2%;
    color:rgb(255, 255, 255);
    background-color: rgb(0, 44, 82);
}
a {
    color:rgb(255, 167, 167);
    text-decoration-line: none;
    /* (text-decoration-line) Sirve para establecer el tipo de decoración de línea que se agregará a un elemento texto, estos pueden ser: subrayado (underline) - suprarrayado (overline) - tachado (line-through) - parpadeo (blink) . Sirve para quitar todo tipo de decoración al texto */
}
.index__li:hover {
    color: rgb(255, 0, 0);
}
.index__link:hover {
    color:rgb(111, 0, 0);
    background-color:rgb(198, 228, 255);
    font-size:larger;
    font-weight: bolder;
}


.extracto__texto-resaltado {
    color: rgb(254, 248, 161);
}
.extracto--bold {
    font-weight: bold;
}

.bloquedef__title {
    text-decoration-line: underline;
    font-weight: 600;
    color:rgb(214, 237, 255)
}
.temas__bloquedef {
    padding-inline: 20px;
    padding-block: 3px;
    margin-inline: 23px;
    border-radius: 35px;
    border:10px solid rgb(97, 25, 25);
    
    background-color:rgb(0, 98, 147);
}
.temas__titulo {
    margin-block-end: 10px;
}
.temas__def {
    margin-block-start: 5px;
}
.images {
    padding-block: 10px;
}
.images__bloque {
    display: flex;
    align-items: center;
}
.images__img {
    border-radius: 30px;
    width: 100%;
    /* min-width: 150px; */
}
.images__description {
    margin-inline: 20px;
    padding: 10px;
    font-size: larger;
}
.images__description--firstline::first-line {
    color: rgb(255, 210, 210);
}