/* Para hacer comentarios automáticos en una linea de código: (Ctrl + /)  */

/* SELECTORES: * (universal)  - etiqueta - .class - #id */

/* Selector universal (*), selecciona todos los elementos del HTML

* {
    margin: 0;
}

*/


/* elemento */
span {
    color:rgb(9, 0, 179);
}
body {
    font-size: 150%;
    background-color:rgb(224, 207, 255);
    margin-inline: 2%;
}

/* class - Selectores de clase: Es la forma más común de aplicar estilos. Inicia con un punto (.)
Para que los selectores de clase funcionen, y podamos asociar los estilos de esa clase a algún elemento, simplemente debemos agregar el atributo 'class' a ese elemento.
*/
.textos {
    color: red;
}

/* En HTML es posible agregar más de una clase a un elemento */

/* id -  */
#texto1 {
    color:rgb(3, 97, 0);
}

/* ----- */
dd {
    margin-inline-start:1.3%;
}
.li-title-3-tipos-de-css {
    color: rgb(82, 0, 0);
}
.h4-title {
    margin-block-end:0.5%;
    padding-block-start:10px;
}
#title-dates {
    margin-block-start: 5%;
    margin-inline-start: 5%;
}
#img-models {
    margin-block: 0px;
}
#fig-models {
    margin-inline: 100px;
}

#figure-models {
    padding: 0px;
    border: 0px;
    margin-inline:247px;
}