/* Para hacer comentarios automáticos en una linea de código: (Ctrl + /)  */

/* SELECTORES: etiqueta - .class - #id */
/* etiqueta/elemento */
span {
    color:rgb(9, 0, 179);
}
body {
    font-size: 150%;
}

/* class */
.textos {
    color: red;
}

/* id */
#texto1 {
    color:rgb(3, 97, 0)
}

/* ----- */

.img-models {
    inline-size: 280px;
    block-size: 190px;
}